@import url(styless/header.css);
@import url(styless/banner.css);
@import url(styless/carrosel.css);
@import url(styless/topicos.css);
@import url(styless/contato.css);
@import url(styless/rodape.css);
:root{
   --cor-de-fundo:#EBECEE;
    --cor-cabecalho:#ffffff;
    --laranja:#EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --font_principal:"Poppins";
    --azul-descricao:rgba(0, 47, 82, 1);
    --fonte-secundario: "Josefin Sans";
    --preto:#000000;
    --footer-cor: rgba(71, 70, 70, 1);
    --cinza-claro: rgba(133, 133, 133, 1);

}

body {
background-color: var(--cor-de-fundo);
font-family: var(--font_principal);
font-size: 16px;
font-weight: 400px;
}




